
#myMenu812812 {
	TEXT-ALIGN: left;
	
}
.leftMenu812 {
	TEXT-ALIGN: left;
	
}
.centerMenu812 {
	TEXT-ALIGN: center;
	
}
.rightMenu812 {
	TEXT-ALIGN: right;
	
}
.MenuLabelLink812 {
	PADDING-BOTTOM: 3px; MARGIN: 0px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #e8e8e8; FONT-SIZE: 10px; FONT-WEIGHT: bold;  TEXT-DECORATION: none; PADDING-TOP: 3px
}
.MenuLabelLinkOn812 {
	PADDING-BOTTOM: 3px; MARGIN: 0px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #e8e8e8; FONT-SIZE: 10px; FONT-WEIGHT: bold; TEXT-DECORATION: none; PADDING-TOP: 3px
}
.MenuItemLink812 {
	PADDING-BOTTOM: 2px; MARGIN: 0px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #e8e8e8; FONT-SIZE: 10px; FONT-WEIGHT: bold; TEXT-DECORATION: none; PADDING-TOP: 2px
}
.MenuItemLinkOn812 {
	PADDING-BOTTOM: 2px; MARGIN: 0px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #e8e8e8; FONT-SIZE: 10px; FONT-WEIGHT: bold; TEXT-DECORATION: none; PADDING-TOP: 2px
}
.menuDef812 {
	POSITION: absolute; VISIBILITY: hidden
}
.menuLabelTable812 {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; MARGIN: 0px auto 0px 0px; WIDTH: auto; BORDER-COLLAPSE: collapse; TABLE-LAYOUT: auto; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
.menuLabelTable812 TD {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
.menuLabelTable812 TD.x {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
.menuTable812 {
	BORDER-BOTTOM: black 1px solid; BORDER-LEFT: black 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; WIDTH: auto; PADDING-RIGHT: 2px; BORDER-COLLAPSE: collapse; TABLE-LAYOUT: auto; BORDER-TOP: black 1px solid; BORDER-RIGHT: black 1px solid; PADDING-TOP: 2px
}
.menuTable812 TD {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 2px
}

#myMenu484484 {
	TEXT-ALIGN:left;

}
.leftMenu484 {
	TEXT-ALIGN: left;

}
.centerMenu484 {
	TEXT-ALIGN: center;

}
.rightMenu484 {
	TEXT-ALIGN: right;

}
.MenuLabelLink484 {
	PADDING-BOTTOM: 3px; MARGIN: 0px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #e8e8e8; FONT-SIZE: 10px; FONT-WEIGHT: bold; TEXT-DECORATION: none; PADDING-TOP: 3px
}
.MenuLabelLinkOn484 {
	PADDING-BOTTOM: 3px; MARGIN: 0px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #e8e8e8; FONT-SIZE: 10px; FONT-WEIGHT: bold; TEXT-DECORATION: none; PADDING-TOP: 3px
}
.MenuItemLink484 {
	PADDING-BOTTOM: 2px; MARGIN: 0px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #e8e8e8; FONT-SIZE: 10px; FONT-WEIGHT: bold; TEXT-DECORATION: none; PADDING-TOP: 2px
}
.MenuItemLinkOn484 {
	PADDING-BOTTOM: 2px; MARGIN: 0px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #e8e8e8; FONT-SIZE: 10px; FONT-WEIGHT: bold; TEXT-DECORATION: none; PADDING-TOP: 2px
}
.menuDef484 {
	POSITION: absolute; VISIBILITY: hidden
}
.menuLabelTable484 {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; MARGIN: 0px auto 0px 0px; WIDTH: auto; BORDER-COLLAPSE: collapse; TABLE-LAYOUT: auto; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
.menuLabelTable484 TD {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
.menuLabelTable484 TD.x {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
.menuTable484 {
	BORDER-BOTTOM: black 1px solid; BORDER-LEFT: black 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; WIDTH: auto; PADDING-RIGHT: 2px; BORDER-COLLAPSE: collapse; TABLE-LAYOUT: auto; BORDER-TOP: black 1px solid; BORDER-RIGHT: black 1px solid; PADDING-TOP: 2px
}
.menuTable484 TD {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 2px
}

#myMenu666666 {
	TEXT-ALIGN:left;

}
.leftMenu666 {
	TEXT-ALIGN: left;

}
.centerMenu666 {
	TEXT-ALIGN: center;

}
.rightMenu666 {
	TEXT-ALIGN: right;

}
.MenuLabelLink666 {
	PADDING-BOTTOM: 3px; MARGIN: 0px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #e8e8e8; FONT-SIZE: 10px; FONT-WEIGHT: bold; TEXT-DECORATION: none; PADDING-TOP: 3px
}
.MenuLabelLinkOn666 {
	PADDING-BOTTOM: 3px; MARGIN: 0px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #e8e8e8; FONT-SIZE: 10px; FONT-WEIGHT: bold; TEXT-DECORATION: none; PADDING-TOP: 3px
}
.MenuItemLink666 {
	PADDING-BOTTOM: 2px; MARGIN: 0px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #e8e8e8; FONT-SIZE: 10px; FONT-WEIGHT: bold; TEXT-DECORATION: none; PADDING-TOP: 2px
}
.MenuItemLinkOn666 {
	PADDING-BOTTOM: 2px; MARGIN: 0px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #e8e8e8; FONT-SIZE: 10px; FONT-WEIGHT: bold; TEXT-DECORATION: none; PADDING-TOP: 2px
}
.menuDef666 {
	POSITION: absolute; VISIBILITY: hidden
}
.menuLabelTable666 {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; MARGIN: 0px auto 0px 0px; WIDTH: auto; BORDER-COLLAPSE: collapse; TABLE-LAYOUT: auto; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
.menuLabelTable666 TD {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
.menuLabelTable666 TD.x {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
.menuTable666 {
	BORDER-BOTTOM: black 1px solid; BORDER-LEFT: black 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; WIDTH: auto; PADDING-RIGHT: 2px; BORDER-COLLAPSE: collapse; TABLE-LAYOUT: auto; BORDER-TOP: black 1px solid; BORDER-RIGHT: black 1px solid; PADDING-TOP: 2px
}
.menuTable666 TD {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 2px
}

